/API/venv_api/
.idea/inspectionProfiles/profiles_settings.xml
.gitignore
.idea/vcs.xml
.idea/plotly_poc.iml
.idea/modules.xml
.idea/misc.xml
API/__pycache__/app.cpython-38.pyc
react-app/.idea/react-app.iml
react-app/.idea/misc.xml
react-app/.idea/vcs.xml
react-app/.idea/modules.xml
react-app/.idea/inspectionProfiles/profiles_settings.xml
